@import "import";
@import "utils/*";
@import "./media/tools";
@import "./media/mobile/*";

.zl-font-base-zh {
    line-height:1;
    -webkit-font-smoothing: antialiased;
    //line-height: 1.42857;
    letter-spacing: 0;

    @media screen and (width: 360px) {
        font-family: Serif, sans-serif;
        font-weight: 100;
        @supports (display: flexbox){
            font-family: "Roboto", sans-serif;
            font-weight: 400;
        }
    }

    @include iphone4() {
        font-family: "Helvetica Neue Light", STHeitiSC-Light;
        font-weight: 500;
    }

    @include iphone5() {
        font-family: "Helvetica Neue Light", STHeitiSC-Light;
        font-weight: 500;
    }

    @include iphone6() {
        font-family: "Helvetica Neue Light", STHeitiSC-Light;
        font-weight: 500;
    }

    @include iphone6-plus() {
        font-family: "Helvetica Neue Light", STHeitiSC-Light;
        font-weight: 500;
    }
}

.zl-font-base-en {
    line-height:1;
    -webkit-font-smoothing: antialiased;
    //line-height: 1.42857;

    @media screen and (device-width: 360px) {
        font-family: "Droid Sans", Serif, sans-serif;
        font-weight: 500;
        @supports (display: flexbox){
            font-family: "Roboto Medium", "Roboto", sans-serif;
            font-weight: 500;
        }
    }

    //@include iphone4() {
    //    font-family: "Helvetica";
    //    font-weight: 400;
    //}
    //
    //@include iphone5() {
    //    font-family: "Helvetica";
    //    font-weight: 400;
    //}
    //
    //@include iphone6() {
    //    font-family: "Helvetica";
    //    font-weight: 400;
    //}
    //
    //@include iphone6-plus() {
    //    font-family: "Helvetica";
    //    font-weight: 400;
    //}
}

.custom {
    @extend .zl-font-base-zh;
    background-color: get-random-color("rgba");
    &.english {
        @extend .zl-font-base-en;
        @for $i from 1 through 3 {
            &:nth-of-type(#{$i}) {
                background-color: get-random-color("rgba");
            }
        }
    }
}

body {
    margin:0;
}