@import "media/tools";
@import "media/mobile/*";

#testdebug {
    width:100%;
    height:30px;
    position: relative;
    &:after {
        content: '';
        display: block;
        position: absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
    }
}

@mixin write-after-content($selector, $text) {
    #{unquote($selector)} {
        &:after {
            content: $text;
        }
    }
}

@include com-zhilizhili-media-mobile-android-xhdpi() {
    @include write-after-content("#testdebug", "android xhdpi设备");
}

@include com-zhilizhili-media-mobile-android-xxhdpi() {
    @include write-after-content("#testdebug", "android xxhdpi设备");
}

@include com-zhilizhili-media-mobile-android-xxxhdpi() {
    @include write-after-content("#testdebug", "android xxxhdpi设备");
}


@debug $com-zhilizhili-media-ios-iphone4-media-query;
@debug type-of($com-zhilizhili-media-ios-iphone4-media-query);

//@import "../../elements/hammer-carousel/index";
//@import "../../elements/zl-view/index";
//
//*, *:after, *:before {
//    box-sizing: border-box;
//    -moz-box-sizing: border-box;
//}
//
//html, body {
//    margin: 0;
//    padding: 0;
//    height: 100%;
//    min-height: 100%;
//    background: #eee;
//    font: 13px/1.5em 'Open Sans', Helvetica, Arial, sans-serif;
//}
//
//a {
//    color: #4986e7;
//}
//
//.bg1, .green { background: #42d692; }
//.bg2, .blue { background: #4986e7; }
//.bg3, .red { background: #d06b64; }
//.bg4, .purple { background: #cd74e6; }
//.bg5, .azure { background: #9fe1e7; }
//
//body {
//    margin: 20px;
//}
//
//pre {
//    background: #fff;
//    padding: 20px;
//    margin-bottom: 20px;
//}
//
//.container {
//    max-width: 900px;
//    margin: 0 auto;
//}
//
//.clear { clear: both; }
//
//@include com-zhilizhili-ui-hammer-carousel();
//@include com-zhilizhili-ui-zl-view();