.zl-font-base-zh, .custom {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0; }
  @media screen and (width: 360px) {
    .zl-font-base-zh, .custom {
      font-family: Serif, sans-serif;
      font-weight: 100; }
      @supports (display: flexbox) {
        .zl-font-base-zh, .custom {
          font-family: "Roboto", sans-serif;
          font-weight: 400; } } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2 / 3) {
    .zl-font-base-zh, .custom {
      font-family: "Helvetica Neue Light", STHeitiSC-Light;
      font-weight: 500; } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40 / 71) {
    .zl-font-base-zh, .custom {
      font-family: "Helvetica Neue Light", STHeitiSC-Light;
      font-weight: 500; } }
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-device-pixel-ratio: 2) {
    .zl-font-base-zh, .custom {
      font-family: "Helvetica Neue Light", STHeitiSC-Light;
      font-weight: 500; } }
  @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-device-pixel-ratio: 3) {
    .zl-font-base-zh, .custom {
      font-family: "Helvetica Neue Light", STHeitiSC-Light;
      font-weight: 500; } }

.zl-font-base-en, .custom.english {
  line-height: 1;
  -webkit-font-smoothing: antialiased; }
  @media screen and (device-width: 360px) {
    .zl-font-base-en, .custom.english {
      font-family: "Droid Sans", Serif, sans-serif;
      font-weight: 500; }
      @supports (display: flexbox) {
        .zl-font-base-en, .custom.english {
          font-family: "Roboto Medium", "Roboto", sans-serif;
          font-weight: 500; } } }

.custom {
  background-color: rgba(82, 219, 157, 0.89); }
  .custom.english:nth-of-type(1) {
    background-color: rgba(139, 186, 56, 0.85); }
  .custom.english:nth-of-type(2) {
    background-color: rgba(90, 222, 154, 0.61); }
  .custom.english:nth-of-type(3) {
    background-color: rgba(248, 53, 50, 0.7); }

body {
  margin: 0; }
